set mark-symlinked-directories on
set editing-mode vi

$if mode=vi

set show-mode-in-prompt on
set keyseq-timeout 0
set show-all-if-ambiguous on

"\C-l": clear-screen
"\e[A": history-search-backward
"\e[B": history-search-forward
"\eb": backward-word
"\ef": forward-word
"\eg": glob-complete-word
"\e=": possible-completions

set keymap vi-command
"gg": beginning-of-history
"G": end-of-history
"k": history-search-backward
"j": history-search-forward
"\eS": "Isudo \e$"

set keymap vi-insert
"\ed": kill-word
"\C-_": undo
"\eS": "\eIsudo \eA"

$endif
