Xcursor*theme: Vanilla-DMZ-AA

Xft.dpi: 144
Xft.antialias: true
Xft.hinting: true
Xft.hintstyle: hintfull
Xft.rgba: rgb

URxvt*font: xft:terminus:pixelsize=12
URxvt*boldFont: xft:terminus:pixelsize=12
URxvt*scrollBar: false
URxvt*saveLines: 32767
URxvt.colorUL: #a9c9bc
URxvt*cursorColor: orange
URxvt*cursorBlink: true
URxvt*geometry: 90x26
URxvt*title: rxvt-256color
URxvt*tintColor: #636363
URxvt*shading: 100
URxvt*transparent: true
URxvt*pastableTabs: true
URxvt*jumpScroll: true
URxvt*secondaryScroll: true
URxvt*urgentOnBell: true

URxvt*perl-lib: /usr/lib/urxvt/perl/
URxvt*perl-ext-common: default,url-select
URxvt*url-launcher: firefox
URxvt*keysym.C-comma: perl:url-select:select_next
URxvt*url-select.launcher: firefox
URxvt*url-select.underline: true
URxvt*url-select.button: 1

XTerm*font: -*-ubuntu mono-medium-r-*-*-12-*-*-*-*-*-*-*
XTerm*boldFont: -*-ubuntu mono-medium-r-*-*-12-*-*-*-*-*-*-*
XTerm*boldMode: false
XTerm*scrollBar: false
XTerm*saveLines: 32767
XTerm*borderLess: true
XTerm*cursorColor: orange
XTerm*cursorBlink: true
XTerm*pastableTabs: true
XTerm*jumpScroll: true

pianobar*font: -*-monofur-medium-r-*-*-16-*-*-*-*-*-*-*
pianobar*boldFont: -*-monofur-medium-r-*-*-16-*-*-*-*-*-*-*
pianobar*foreground: #a6a6a6
pianobar*urgentOnBell: true

scratch*font: -*-ubuntu mono-medium-r-*-*-16-*-*-*-*-*-*-*
scratch*boldFont: -*-ubuntu mono-medium-r-*-*-16-*-*-*-*-*-*-*
scratch*boldMode: false
scratch*scrollBar: false
scratch*saveLines: 32767
scratch*borderLess: true
scratch*cursorColor: orange
scratch*cursorBlink: true
scratch*pastableTabs: true
scratch*jumpScroll: true

alsamixer*scrollBar: false

*foreground: #a8a8a8
*background: #303030
*color0: #383838
*color1: #8c5050
*color2: #657d3e
*color3: #a98051
*color4: #8296a0
*color5: #6e5064
*color6: #c9c9c9
*color7: #d0b8a3
*color8: #404040
*color9: #a97775
*color10: #90a57d
*color11: #a99175
*color12: #a1bdce
*color13: #d6b2a1
*color14: #dcdcdc
*color15: #d8c8bb
